.header-tab {
  border-radius: 10px;
  padding: 2px;
  padding-inline: 4px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.header-tab:hover {
  transform: scale(1.05);
  background-color: transparent;
  font-weight: bold;
  color: #00bcff;
  box-shadow: 0 4px 20px #00bcff;
}

.header {
  position: fixed;
  background-color: transparent;
  padding-block: 10px;
  z-index: 999;
  height: 50px;
}

.header.scrolled {
  background-color: #83979f;
  box-shadow: 0 2px 10px rgba(31, 23, 23, 0.795);
}

.name-line{
  display: none;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
}

.menu {
  position: fixed;
  top: 7px;
  right: 28px;
}

.hamburger {
  display: none;
  position: absolute;
  right: 3%;
  top: 0;
  font-size: 40px;
  font-weight: bolder;
}

@media screen and (max-width: 1000px) {
  .tag-line {
    display: none;
  }  
}

@media screen and (max-width: 633px) {
  .menu {
    /* display: none; */
    flex-direction: column;
    width: screen;
    align-items: center;
    padding: 10px;
    background-color: #83979f;
    position: absolute;
    left: 0%;
    right:0%;
    top:100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .name-line{
    display: block;
  }

  .hamburger {
    display: block !important;
  }

  .header {
    background-color: #83979f;
    color: white;
  }

  .header-tab {
    transition: scale 0.3s ease,
  }

  .header-tab:hover {
    scale: 1.1;
  }
}
