.highlights{
    background-color: black !important; 
    min-width: max-content;
    scale: 1.1;
    color: azure;
}

::ng-deep .mat-mdc-tab-header {
  background-color: whitesmoke;
  border-radius: 9000px;
}

::ng-deep .mdc-tab-indicator--active{
  border-radius: 9000px;
  background-color: #69c2f0 !important;
}

::ng-deep .mdc-tab-indicator__content--underline{
    border: none !important;
}

::ng-deep .mdc-tab-indicator--active .mdc-tab__text-label {
    color: white !important;
}

.skill {
  position: relative;
  z-index: 1;
}

.skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/background.jpg) !important;
  background-size: cover;
  background-position: center;
  opacity: 0.4; /* 🔽 adjust opacity here */
  z-index: -1;
}

.skill-tab{
  padding: 10px;
  margin: 10px;
  display: inline-block;  
  width: 200px;
  background-color: rgb(141, 136, 136);
  font-size: larger;
  color: white;
  text-align: center;
  border-radius: 999px;
  font-weight: normal;
}

.skill-tab :hover{
  transform: translateY(-4px) scale(1.1) !important;
}

.hide {
  display: none !important;
}


   