.home-container {
  position: relative;
  z-index: 1;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-image: url(../../assets/background_blue.jpeg) !important;
  background-size: cover;
  background-position: center;
  opacity: 1; /* 🔽 adjust opacity here */
  z-index: -1;
}

.name {
  color: whitesmoke;
}

.profile {
  color: white;
  font-weight: bolder;
  font-style: italic;
  animation-name: example;
  animation-duration: 22s;
  animation-iteration-count: infinite;
}

.font-cursive {
  font-family: "Courgette", cursive;
}

.font-classic {
  font-family: "Josefin Sans", sans-serif;
}


